<?xml version="1.0"?>
<!--
/**
 * Magenizr Faker
 *
 * @category    Magenizr
 * @copyright   Copyright (c) 2021 Magenizr (http://www.magenizr.com)
 * @license     https://www.magenizr.com/license Magenizr EULA
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dev" translate="label" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="magenizr_faker" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Faker</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <comment><![CDATA[Disable the module temporarily.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="csv_customers" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CSV file</label>
                    <comment><![CDATA[Path to your CSV file, relatively from your document root. Example: /var/import/customers.csv<br />Leave it blank to use the sample CSV file that comes with the module.]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

            </group>
        </section>
    </system>
</config>
